body {
	background: #dee2e6;
}

p {
	margin-top: 0rem;
	margin-bottom: 0rem !important;
}

#main-container {
  border-left: black solid;
}

.just-padding {
	margin-top: 2vmin;
}

.btn-secondary {
	background-color: #343a40 !important;
}