body {
	background: #dee2e6;
}

p {
	margin-top: 0rem;
	margin-bottom: 0rem;
	font-size: 2vmin;
}

#main-container {
	font-size: 2vmin;
  border-left: black solid;
}

.just-padding {
	margin-top: 2vmin;
}

li {

}
